@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/55158722798-9bb0f41f19-o.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f0f4ff;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background: rgba(0, 0, 0, 0.45);
  min-height: 100vh;
  gap: 2rem;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
}

.header h1{
  font-size: 3rem;
  color: #ffd166;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif
}q

.header p {
  color: #93acec;
  font-family: 'Orbitron', sans-serif

}

.card-count {
  background: rgba(255, 209, 102, 0.1);
  border: 1px solid rgba(255, 209, 102, 0.3);
  color: #ffd166;
  padding: 0.3rem 1rem;
  border-radius: 999px;
  font-size: 0.85rem;
}

.card-container {
  width: 100%;
  max-width: 560px;
  min-height: 220px;
  cursor: pointer;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  min-height: 220px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  line-height: 1.6;
  backface-visibility: hidden;
}

.card-front {
  background: rgba(26, 31, 110, 0.6);
  border: 2px solid #3d4464;
}

.card-back {
  background: rgba(26, 46, 26, 0.6);
  border: 2px solid #2f9461;
  color: #c8f0dc;
  transform: rotateY(180deg);
}

.nav-btns {
  display: flex;
  gap: 0.5rem;
}

.next-btn {
  background: rgba(255, 209, 102, 0.1);
  border: 0.5px solid rgba(255, 209, 102, 0.5);
  color: #ffd166;
  padding: 0.25rem 1rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: 'Orbitron', sans-serif;
}

.prev-btn {
  background: rgba(255, 209, 102, 0.1);
  border: 0.5px solid rgba(255, 209, 102, 0.5);
  color: #ffd166;
  padding: 0.25rem 1rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: 'Orbitron', sans-serif;
}

.next-btn:hover,
.prev-btn:hover {
  background: rgba(255, 209, 102, 0.2);
}

.next-btn:disabled,
.prev-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  border-color: rgba(255, 209, 102, 0.15);
  color: rgba(255, 209, 102, 0.4)
}

.guess-box {
  display: flex;
  gap: 0.75rem;
  width: 100%;
  max-width: 560px;
}

.ans-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 209, 102, 0.4);
  background: rgba(255, 255, 255, 0.05);
  color: #f0f4ff;
  font-size: 1rem;
}

.ans-input:focus {
  outline: none;
  border-color: #ffd166;
}

.submit-btn {
  background: rgba(61, 68, 212, 0.3);
  border: 1.5px solid #3d4464;
  color: #f0f4ff;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-btn:hover {
  background: rgba(61, 68, 212, 0.5);
}

.validation {
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.validation.correct {
  color: #3db87a;
}

.validation.incorrect {
  color: #e74c3c;
}

.shuffle-btn {
  background: rgba(220, 176, 7.3, 0.05);
  border: 1.5px solid rgba(220, 176, 7.3, 0.5);
  color: #dcb049;
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  transition: background 0.2s ease;
}

.shuffle-btn:hover {
  background: rgba(249, 217, 91, 0.25);
}

.Curr-streak {
  display: flex;
  gap: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  color: #dcb049;
}

.long-streak {
  display: flex;
  gap: 1.5rem;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  color: #dcb049;
}